{% extends "main.twig" %}

{% block title %}Add{% endblock %}

{% block content %}

<form class="good-add" method="post">

<input type="text" name="good_name" placeholder="Good name..."> <br>
<input type="text" name="good_description" placeholder="Good description..."> <br>
<input type="text" name="good_price" placeholder="Good price..."> <br>
<input type="submit" value="Submit">

</form>

{% endblock %}
