{% extends "main.twig" %}

{% block title %}Item{% endblock %}

{% block content %}
  <h1>Good Details</h1>
  <p><b>NAME:</b> {{good.good_name}}</p>
  <p><b>DESCRIPTION:</b> {{good.good_description}}</p>
{% endblock %}
